table,
.spinner-container,
.paginator {
    margin: auto;
}

table,
.paginator {
    width: 80%;
}

table {
    border-radius: 19px;
    background: #498ebf;
    box-shadow: 8px 8px 52px #498ebf, -8px -8px 52px #39739d;
}

th.mat-header-cell {
    font-size: 16px;
    color: #bbbbbb;
    font-weight: bold;
}

.mat-row:hover {
    /* border-radius: 40px; */
    background: #0d6c93;
    box-shadow: 6px 6px 6px #4cd4fc, -6px -6px 6px #4cd4fc;
    width: 150%;
    color: white;
}

.spinner-container {
    width: 10%;
}